* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  color: #f948b2;
  font-size: 95px;
  font-family: Work Sans;
  font-weight: 800;
  text-transform: uppercase;
  word-wrap: break-word;
}

h2 {
  color: #0b0223;
  font-size: 48px;
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
}

span {
  color: #f948b2;
  font-size: 48px;
  font-family: Work Sans;
  font-weight: 700;
  word-wrap: break-word;
}

h3 {
  color: white;
  font-size: 45px;
  font-family: Work Sans;
  font-weight: 700;
  word-wrap: break-word;
}

h4 {
  color: #534c64;
  font-size: 32px;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 45px;
  word-wrap: break-word;
}

h5 {
  color: #0b0223;
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 600;
  word-wrap: break-word;
}

h6 {
  color: #534c64;
  font-size: 24px;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 45px;
  word-wrap: break-word;
}
p {
  color: #534c64;
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.sign-in-btn, .know-more-btn {
  color: white;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 21px 40px 21px 40px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border-radius: 48px;
  border: none;
}

/* .container{
    padding: 0 80px;
} */
/* header styles starts*/
.header {
}

.header .container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

nav ul li a {
  color: #3c354f;
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 500;
  word-wrap: break-word;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  padding: 10px 16px;
}

.nav-icon {
  width: 34px;
}
/* header styles ends */

/* banner styles starts*/
.banner {
}

.banner .container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 68px;
  padding: 0 0 95px 0;
}

.single-icon {
  display: flex;
  gap: 15px;
  align-items: center;
}

.banner-btn-group {
  padding-top: 41px;
  display: flex;
  gap: 7px;
}

.go-btn {
  color: white;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 21px 40px 21px 40px;
  background-color: #4ec5f7;
  border-radius: 48px;
  border: none;
  
}

.banner-img {
  width: 100%;
}
/* banner styles ends*/

/* gammer styles starts here */
.gamers{
 padding-bottom: 120px;
}

.gamers .container{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.gamers-content{
  display: flex;
  align-items: center;
  gap: 52px;
}

.gamer-img{
  width: 100%;
}

.gamer-right{
  max-width: 520px;
}

.gamer-right h2 {
  color: #0b0223;
  font-size: 48px;
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.gamers button {
	margin-top: 18px;
}
/* gammer styles ends here */

/*online-games styles starts here*/
.online-games {
  padding-bottom: 120px;
}
.online-games-head {
  text-align: center;
}

.online-games-head p {
  padding: 10px 0 48px 0;
}
.online-games .container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.games-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #000;
  background: #fff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .play-icon {
  opacity: 1;
}

.games-cards .card {
  max-width: 342px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.games-img:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%); 
  border-radius: 16px; 
  border: 2px #FF42A5 solid;

}
.games-img {
  width: 100%;
}
/*online-games styles ends here*/

/* play-instant styles starts here */
.play-instant {
  margin-bottom: -174px;
}


.play-instant .container {
  max-width: 1253px;
  padding: 0 80px;
  margin: 0 auto;
  height: auto;
}

.play-instant-content{
  display: flex;
  gap: 220px;
}
.play-instant-left {
  max-width: 100%;
  width: 341px;
  padding-top: 172px;
}

.horse-img {
  max-width: 100%;
}

.doll-img {
  max-width: 100%;
  width: 318.5px;
  position: relative;
  bottom: 254px;
  right: 145px;
}
/* play-instant styles ends here */

/* career styls starts here */
.career{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding: 120px 0;
}

.career .container{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.career-head h2{
  color: #fff;
}
.career-content{
  display: flex;
  align-items: center;
  gap: 52px;

}

.career-text{
  display: flex;
  align-items: center;
  gap: 97px;
}

.career-left{
  max-width: 680px;
  color: #fff;
}

.career p{
  color: #fff;
  margin-bottom: 25px;;
}
.career-img{
    width: 100%;
  }

/* career styls ends here */

/* games-option styles starts */
.games-option {
  padding: 118px 0;
}

.games-option .container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.play-option {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
	gap: 15px;
}

.single-option {
	display: flex;
	align-items: center;
	gap: 12px;
	margin: 0 auto;
	width: 228px;
	margin-bottom: 35px;
}

.single-option:hover {
  background: white;
  border-radius: 50px;
  border: 0.75px #ff42a5 solid;
  padding: 5px 5px;
}

/* games-option styles ends */

/* footer styles starts here */
.footer {
  background: #0b0223;
  padding: 120px 0 130px 0;
}

.footer .container {
  max-width: 914px;
  margin: 0 auto;
}

.footer-content {
  text-align: center;
  color: #fff;
}

.footer-logo {
  display: flex;
  gap: 12px;
  text-align: center;
  justify-content: center;
}
.footer-logo span {
  color: #ff42a5;
  font-size: 45px;
  font-family: Work Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 37px 0 27px 0;
}

.footer-nav ul li a {
  color: white;
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.social-icon {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.social-icon i {
  /* margin-right: 40px; */
  font-size: 28px;

  margin: 0 auto;
}

.footer-terms-policy ul {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 21px 0 38px 0;
}
.footer-terms-policy ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 500;
  word-wrap: break-word;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 500;
  word-wrap: break-word;
}
/* footer styles ends here */

